<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        @if (product) {
        <div class="ion-text-center">
          <br>
          <h1>
            <b>{{ product.title }}</b>
          </h1>
          <br><br>
          <img src="{{ product.image }}" class="product-image" />
          <br><br>
          <div class="product-details">
            <div class="category-price-container">
              <p class="category"><b>{{ product.category }}</b></p>
              <div class="price">{{ product.price | currency:"$ "}}</div>
            </div>

            <p><b>Description</b></p>
            <p>{{ product.description }}</p>

            <br>
            <div class="count-rate-container">
              <div class="count">
                <p>Bought: {{ product.rating.count }}+</p>
              </div>
              <div class="rate">
                <span class="text-with-img">
                  {{ product.rating.rate }}
                </span>
                <img
                  src="https://static.vecteezy.com/system/resources/thumbnails/021/664/704/small/gold-star-shotting-gold-star-transparent-gold-bokeh-stars-free-free-png.png"
                  class="inline-image">
              </div>
            </div>
          </div>
        </div>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer [buttonText]="'Add to cart'"></app-footer>
</ion-content>
