ion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-container {
    flex: 1;
}

.total-container {
    position: fixed;
    bottom: 30px;
    width: 100%;
    padding: 0px 30px;
    background-color: white;
    border-top: 1px solid #ccc;
    text-align: right;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}